<div class="equip">
<h1><{$smarty.const._MD_EQUIP_LANG_ITEMS}><{$smarty.const._VIEW}></h1>
<dl class="view">
  <dt><{$smarty.const._MD_EQUIP_LANG_ITEMS_ID}></dt>
  <dd><{$object->getShow('items_id')}></dd>
  <dt><{$smarty.const._MD_EQUIP_LANG_NAME}></dt>
  <dd><{$object->getShow('name')}></dd>
  <dt><{$smarty.const._MD_EQUIP_LANG_INFO}></dt>
  <dd><{$object->getShow('info')}></dd>
  <dt><{$smarty.const._MD_EQUIP_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

</dl>
</div>
