<div class="equip">
<h1><{$smarty.const._MD_EQUIP_LANG_ITEMS_EDIT}></h1>
<{if $actionForm->hasError()}>
  <ul class="error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>
<form action="<{xoops_cooluri dirname=$dirname dataname=items action=edit}>" method="post">
  <dl class="edit">

  <{xoops_input type=hidden name=items_id value=$actionForm->get('items_id')}>

  <div class="control-group">
    <label for="name" class="control-labelrequired"><{$smarty.const._MD_EQUIP_LANG_NAME}></label>
    <div class="controls"><{xoops_input type=text name=name value=$actionForm->get('name') class="span4" maxlength=255required}></div>
  </div>

  <div class="control-group">
    <label for="types_id" class="control-label"><{$smarty.const._MD_EQUIP_LANG_TYPES_ID}></label>
    <div class="controls">
      <select name="types_id" id="types_id">
      <{xoops_optionsArray from=$typelist label="name" value="value" default=$type_default class="span1"}>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label for="info" class="control-label"><{$smarty.const._MD_EQUIP_LANG_INFO}></label>
    <div class="controls"><{xoops_input type=text name=info value=$actionForm->get('info') class="span4" maxlength=255}></div>
  </div>

  <div class="control-group">
    <label for="count" class="control-label required"><{$smarty.const._MD_EQUIP_LANG_COUNT}></label>
    <div class="controls"><{xoops_input type=text name=count value=$actionForm->get('count') class="span1"}></div>
  </div>

    <dt></dt>
    <dd>
      <{xoops_token form=$actionForm}>
      <input type="submit" value="<{$smarty.const._SUBMIT}>" />
      <input type="submit" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel" />
    </dd>
  </dl>
</form>
</div>
