<div class="equip">
<h1><{.const._MD_EQUIP_LANG_ITEMS}><{.const._LIST}></h1>
<ul class="hmenu">
  <li><a href="<{xoops_cooluri dirname= dataname= action=edit}>"><{.const._MD_EQUIP_LANG_ADD_A_NEW_ITEMS}></a></li>
</ul>

<{if count() > 0}>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=}></div>
  <table class="outer" summary="">
    <thead>
      <tr>
        <th>
          <{.const._MD_EQUIP_LANG_ITEMS_ID}>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=<{.const.EQUIP_ITEMS_SORT_KEY_ITEMS_ID}>"><img src="images/up.gif" alt="<{.const._ASCENDING}>" title="<{.const._ASCENDING}>" /></a>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=-<{.const.EQUIP_ITEMS_SORT_KEY_ITEMS_ID}>"><img src="images/down.gif" alt="<{.const._DESCENDING}>" title="<{.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{.const._MD_EQUIP_LANG_NAME}>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=<{.const.EQUIP_ITEMS_SORT_KEY_NAME}>"><img src="images/up.gif" alt="<{.const._ASCENDING}>" title="<{.const._ASCENDING}>" /></a>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=-<{.const.EQUIP_ITEMS_SORT_KEY_NAME}>"><img src="images/down.gif" alt="<{.const._DESCENDING}>" title="<{.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{.const._MD_EQUIP_LANG_TYPES_ID}>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=<{.const.EQUIP_ITEMS_SORT_KEY_TYPES_ID}>"><img src="images/up.gif" alt="<{.const._ASCENDING}>" title="<{.const._ASCENDING}>" /></a>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=-<{.const.EQUIP_ITEMS_SORT_KEY_TYPES_ID}>"><img src="images/down.gif" alt="<{.const._DESCENDING}>" title="<{.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{.const._MD_EQUIP_LANG_INFO}>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=<{.const.EQUIP_ITEMS_SORT_KEY_INFO}>"><img src="images/up.gif" alt="<{.const._ASCENDING}>" title="<{.const._ASCENDING}>" /></a>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=-<{.const.EQUIP_ITEMS_SORT_KEY_INFO}>"><img src="images/down.gif" alt="<{.const._DESCENDING}>" title="<{.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{.const._MD_EQUIP_LANG_COUNT}>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=<{.const.EQUIP_ITEMS_SORT_KEY_COUNT}>"><img src="images/up.gif" alt="<{.const._ASCENDING}>" title="<{.const._ASCENDING}>" /></a>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=-<{.const.EQUIP_ITEMS_SORT_KEY_COUNT}>"><img src="images/down.gif" alt="<{.const._DESCENDING}>" title="<{.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{.const._MD_EQUIP_LANG_POSTTIME}>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=<{.const.EQUIP_ITEMS_SORT_KEY_POSTTIME}>"><img src="images/up.gif" alt="<{.const._ASCENDING}>" title="<{.const._ASCENDING}>" /></a>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=-<{.const.EQUIP_ITEMS_SORT_KEY_POSTTIME}>"><img src="images/down.gif" alt="<{.const._DESCENDING}>" title="<{.const._DESCENDING}>" /></a>
        </th>
        <th><{.const._MD_EQUIP_LANG_CONTROL}></th>
      </tr>
    </thead>
    <tbody>
      <{foreach item=obj from=}>
        <tr class="<{cycle values='odd,even'}>">
          <td><{->getShow('items_id')}></td>
          <td><{->getShow('name')}></td>
          <td><{->getShow('types_id')}></td>
          <td><{->getShow('info')}></td>
          <td><{->getShow('count')}></td>
          <td><{->getShow('posttime')|xoops_formattimestamp:m}></td>

          <td>
            <a href="<{xoops_cooluri dirname= dataname=$
     

          </td>
        </
      <{/foreach}>
    </tbody>
  </table>
  <div class="pagenavi">
<{/if}>

<{assign var="dataname2" 
<h1><{
<ul class=
  <li><a hre
</ul>

<{if count() > 0}>
  <div class="pa
  <table class="outer" summary="">
    <thead>
      <tr>
        <th>
          <{.const._MD_EQUIP_LANG_TYPES_ID}>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=<{.const.EQUIP_TYPES_S
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=-<{.const.EQUIP_TYPES_SORT_KEY_TYPES_ID}>"><img src="images/down.gif" alt="<{.const._DESCENDING}>" title="<{.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{.const._MD_EQUIP_LANG_TYPES_
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=<{.const.EQUIP_TYPES_SORT_KEY_NAME}>"><img src="images/up.gif" alt="<{.const._ASCENDING}>" title="<{.const._ASCENDING}>" /></a>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=-<{.const.EQUIP_TYPES_SORT_KEY_NAME}>"><img src="images/down.gif" alt="<{.const._DESCENDING}>" title="<{.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{.const._MD_EQUIP_LANG_POSTTIME}>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=<{.const.EQUIP_TYPES_SORT_KEY_POSTTIME}>"><img src="images/up.gif" alt="<{.const._ASCENDING}>" title="<{.const._ASCENDING}>" /></a>
          <a href="<{->renderUrlForSort()}>&amp;<{->getPrefix()}>sort=-<{.const.EQUIP_TYPES_SORT_KEY_POSTTIME}>"><img src="images/down.gif" alt="<{.const._DESCENDING}>" title="<{.const._DESCENDING}>" /></a>
        </th>
        <th>
      </tr>
    </thead>
    <tbody>
      <{fo
        <tr class="<{cycle values='odd,even'}>">
          <td><{->getShow('types_id')}></td>
          <td><{->getShow('name')}></td>
          <td><{->getShow('posttime')|xoops_formattimestamp:m}></td>

          <td>
    
            <a href="<{xoops_cooluri dirname= dataname= data_id=->getShow('types_id') action=edit}>"><{.const._EDIT}></a>
            <a href="<{xoops_cooluri dirname= dataname= data_id=->ge
          </t
        </tr
      <{/foreach}>
    </tbody>
  </table>
  <di
<{/if}>
</div>
